<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Python Belt Exam</title>
</head>
<body>
    <a href="/logout">Logout</a>
    <br>
    <a href="/home">Home</a>
    <br>
    
    <h1>{{destination}}</h1>
    <p>Planned By: {{userfirst}} {{userlast}}</p>
    <p>Description: {{plan}}</p>
    <p>Travel Date From: {{start}}</p>
    <p>Travel Date To: {{end}}</p>
    <br>
    <br>
    <h2>Other Users Joining the Trip:</h2>
    <ul>
            {% for joiner in joiners %}
                {% if joiner.trip.id == this %}
                    <p>{{joiner.user.first_name}} {{joiner.user.last_name}}</p>
                {% endif %}
            {% endfor %}
       
    </ul>

    
</body>
</html>